<footer>

<script type="text/javascript">
	var app = angular.module("NGSEApp", ["ngRoute"]);
	app.config(function($routeProvider) {
		$routeProvider
		{% for section in sections %}.when("/{% if section['name'] != 'home' %}{{ section['name'] }}{% endif %}", {
			templateUrl: "/templates/{{ section['name'] }}.html"
		})
		{% endfor %};
	});
</script>

<script type="text/javascript" src="static/js/jquery-3.1.0.min.js"></script>
<!-- <script type="text/javascript" src="{{'ngse:static/js/jquery-3.1.0.min.js'|static_url}}"></script> -->
<script type="text/javascript" src="static/js/semantic.min.js"></script>
<!-- <script type="text/javascript" src="{{'ngse:static/js/semantic.min.js'|static_url}}"></script> -->

</footer>