<!-- <div class="ui equal width grid">
	<div class="row">
		<div class="column">
			<div class="ui very padded center aligned segment">
				<div class="ui huge header">Welcome to the website of the<br>National Graduate School of Engineering Office!</div>
			</div>
		</div>
	</div>
</div> -->
<div class="ui four cards">

	<div class="card">
		<div class="image">
			<i class="idea icon"></i>
		</div>
		<div class="center aligned content">
			Idea
		</div>
	</div>
	<div class="card">
		<div class="image">
			<i class="idea icon"></i>
		</div>
		<div class="center aligned content">
			Idea
		</div>
	</div>
	<div class="card">
		<div class="image">
			<i class="idea icon"></i>
		</div>
		<div class="center aligned content">
			Idea
		</div>
	</div>
	<div class="card">
		<div class="image">
			<i class="idea icon"></i>
		</div>
		<div class="center aligned content">
			Idea
		</div>
	</div>
	<div class="card">
		<div class="image">
			<i class="idea icon"></i>
		</div>
		<div class="center aligned content">
			Idea
		</div>
	</div>
	<div class="card">
		<div class="image">
			<i class="idea icon"></i>
		</div>
		<div class="center aligned content">
			Idea
		</div>
	</div>
	<div class="card">
		<div class="image">
			<i class="idea icon"></i>
		</div>
		<div class="center aligned content">
			Idea
		</div>
	</div>	
	
</div>