<form role="category-submission" class="ui fluid form card">
	<div class="content">
		<div class="header">{{category.name}}</div>
	</div>
	<div class="content">
		<div class="ui grid">
			<div ng-repeat="element in elements track by element.id" class="{{element.width}} wide column" ng-switch="element.klass">
				<div ng-switch-when="question">
					<ng-switch on="element.kind" class="field">
						<label ng-switch-when="text|dropdown|textarea" ng-switch-when-separator="|">{{element.text}}</label>
						<input ng-switch-when="text" type="text" name="{{element.name}}" ng-model="element.answer.text" required="{{element.required}}">
						<select ng-switch-when="dropdown" ng-model="element.answer.text" title="{{element.name}}" class="ui dropdown" required="{{element.required}}">
							<option ng-repeat="choice in element.choices" value="{{choice}}">{{choice}}</option>
						</select>
						<textarea ng-switch-when="textarea" ng-model="element.answer.text" rows="{{element.rows}}" title="{{element.name}}" required="{{element.required}}"></textarea>
					</ng-switch>
				</div>
				<div ng-switch-when="decor">
					<ng-switch on="element.kind">
						<div ng-switch-when="rule" class="ui divider"></div>
					</ng-switch>
				</div>
<!-- 

 -->
 				<div ng-switch-when="text">
					<ng-switch on="element.kind">
						<strong>{{element.text}}</strong>
						<!-- <div ng-switch-when="rule" class="ui divider"></div> -->
					</ng-switch>
				</div>
<!-- 
  -->
			</div>
		</div>
	</div>
	<div class="ui bottom attached large buttons">
		<a href="#!application/category" class="ui labeled icon button">
			<i class="chevron left icon"></i>
			Back to Sections
		</a>
		<button class="ui right labeled icon primary button" ng-click="save()">
			Save
			<i class="save icon"></i>
		</button>
	</div>
</form>