<form role="category-submission" class="ui fluid form card">
	<div class="content">
		<div class="header">{{category.name}}</div>
	</div>
	<div class="content">
		<div ng-repeat="element in elements track by element.id">
			<ng-switch on="element.klass">
				<div class="field" ng-switch-when="question">
					<label>{{element.text}}</label>
					<ng-switch on="element.kind">
						<input ng-switch-when="text" type="text" name={{element.name}} ng-model="element.answer.text" required="{{element.required}}">
					</ng-switch>
				</div>
			</ng-switch>
		</div>
	</div>
	<div class="ui bottom attached large buttons">
		<a href="#!application/category" class="ui labeled icon button">
			<i class="chevron left icon"></i>
			Back to Sections
		</a>
		<button class="ui right labeled icon primary button" ng-click="save()">
			Save
			<i class="save icon"></i>
		</button>
	</div>

</form>